<div class="container">
    <div class="row">
      <div class="col">
        <section>
          <form novalidate [formGroup]="tituloForm" (ngSubmit)="onSubmit()">
            <fieldset>
              <div class="form-group">
                <label>Nome</label>
                <input type="text"
                       class="form-control"
                       formControlName="nomeTitulo">
              </div>
              </fieldset>

              <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Salvar</button>
              <button type="button" class="btn btn-warning" (click)="redirectTitulosPage()">Cancelar</button>
              <!--<pre>{{userForm.value | json}}</pre>-->
          </form>
        </section>
      </div>
    </div>
  </div>
